<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybestcoding.hmt.mapper.RoleMapper">
    <resultMap id="BaseResultMap" type="com.mybestcoding.hmt.model.Role">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="role" jdbcType="VARCHAR" property="role"/>
        <result column="created_time" jdbcType="TIMESTAMP" property="createdTime"/>
        <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime"/>
        <result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, role, created_time, updated_time, delete_time
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from hmt_role
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectRoleByUserId" resultType="java.lang.String">
        SELECT hmt_role.role
        FROM hmt_role,
             hmt_user_role
        WHERE hmt_role.id = hmt_user_role.rid
          AND hmt_user_role.uid = #{uid, jdbcType=INTEGER}
    </select>
    <select id="selectByRoleName" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from hmt_role
        where role = #{roleName, jdbcType=VARCHAR}
    </select>
    <select id="selectAllRoles" resultType="java.lang.String">
        select role
        from hmt_role
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from hmt_role
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.mybestcoding.hmt.model.Role" useGeneratedKeys="true" keyProperty="id">
        insert into hmt_role (id, role, created_time,
                              updated_time, delete_time)
        values (#{id,jdbcType=INTEGER}, #{role,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP},
                #{updatedTime,jdbcType=TIMESTAMP}, #{deleteTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.mybestcoding.hmt.model.Role" useGeneratedKeys="true"
            keyProperty="id">
        insert into hmt_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="role != null">
                role,
            </if>
            <if test="createdTime != null">
                created_time,
            </if>
            <if test="updatedTime != null">
                updated_time,
            </if>
            <if test="deleteTime != null">
                delete_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="role != null">
                #{role,jdbcType=VARCHAR},
            </if>
            <if test="createdTime != null">
                #{createdTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedTime != null">
                #{updatedTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleteTime != null">
                #{deleteTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <insert id="bindRole">
        insert into hmt_user_role(uid, rid)
        values (#{userId,jdbcType=INTEGER}, #{roleId,jdbcType=INTEGER})
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.mybestcoding.hmt.model.Role">
        update hmt_role
        <set>
            <if test="role != null">
                role = #{role,jdbcType=VARCHAR},
            </if>
            <if test="createdTime != null">
                created_time = #{createdTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedTime != null">
                updated_time = #{updatedTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleteTime != null">
                delete_time = #{deleteTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.mybestcoding.hmt.model.Role">
        update hmt_role
        set role         = #{role,jdbcType=VARCHAR},
            created_time = #{createdTime,jdbcType=TIMESTAMP},
            updated_time = #{updatedTime,jdbcType=TIMESTAMP},
            delete_time  = #{deleteTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>